body {
  background: #2f262f;
}

.monster {
  width: 1920px;
  height: 1080px;
  margin: 2% auto;
  background: url('neurodiver_logo_sprites.png') left center;
  animation: play 2.4s steps(27) infinite;
}

@keyframes play {
    100% { background-position: -51840px; }
}