@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.eot');
  src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('../fonts/BebasNeue-Regular.woff') format('woff'),
       url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-moz-selection {
  background: #e195bf
}

::-ms-selection {
  background: #e195bf
}

::-o-selection {
  background: #e195bf
}

::-webkit-selection {
  background: #e195bf
}

::selection {
  background: #e195bf
}

* {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color: inherit
}

*,
*::before,
*::after {
  box-sizing: border-box
}

:root {
  font-size: 18px
}

h1,
h2, .navbar li {
    font-family: 'BebasNeue';
    font-weight: normal;
    font-size: 2rem;
}

h1,
h2,
h3 {
    line-height: 1.05
}

h1,
h3 {
    font-family: 'BebasNeue';
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 2.5em
}

a {
    color: #A8A8A8;
    text-decoration: none
}

a:hover,
a:focus {
    color: #ccc
}

main a {
    color: #e195bf
}

main a:hover,
main a:focus {
    color: #C279AA;
    text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}
body {
  background: #2f262f;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.jumbotron {
  background: #000000;
  padding: 0;
  margin-bottom: 0;
  border-bottom: solid 2px #666;
}
#main-content {
  background: #2f262f; /* Old browsers */
  background: -moz-linear-gradient(top, #2f262f 0%, #201a20 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2f262f 0%,#201a20 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2f262f 0%,#201a20 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f262f', endColorstr='#201a20',GradientType=0 ); /* IE6-9 */
  padding: 2.5em 0 7em;
}
.padding-top {
  padding-top: 3em;
}
.margin-bottom {
  margin-bottom: 1.5em;
}

.navbar-nav > li {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
  color: #fff
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #f2c6df;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #e195bf
}
footer {
  background: #201a20;
  border-top: solid 2px #4d444d;
  padding: 2.5em 0em 0.8em;
  font-size: 0.7em;
  line-height: 1.5;
}
footer .social-links {
  text-align: right;
}
footer .social-links a img {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}
footer .social-links a:last-child img {
  margin-right: 0;
}
.swiper-container {
  width: 100%;
  height:auto !important;
}
.swiper-slide {
  height:auto !important;
  text-align: center;
  font-size: 18px;
  background: #000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 10px !important;
  display:inline-block;
  border-radius: 100%;
  border: solid #e195bf 1px;
  background: #ffffff;
  opacity: 1
}
.swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.swiper-pagination-bullet-active {
  background: #e195bf;
  opacity: 1
}

.img-works {
  margin-top: 30px;
}

.mission-list {
  padding-bottom: 15px;
}

@media (min-width: 576px) {
  .navbar {
    background: -moz-linear-gradient(top, rgba(32,26,32,0.65) 0%, rgba(0,0,0,0) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(32,26,32,0.65) 0%,rgba(0,0,0,0) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(32,26,32,100) 0%,rgba(0,0,0,0) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
  }
  .navbar-nav > li {
      position: relative;
      margin-right: 8px;
  }
  .navbar-nav > li:not(:first-child):before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      top: 50%;
      margin-top: -5px;
      right: -8px;
      z-index: 1;
      border-radius: 8px;
  }
  .navbar-nav > li:before {
      right: auto;
      left: -8px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  nav.navbar .container {
  }
  nav.navbar .navbar-brand.d-sm-block img{
    width: 90%;
  }
  .navbar-nav > li {
    font-size: 1.5rem
  }
  footer {
  text-align: center;
  }
  footer .social-links {
  text-align: center;
  }
}

@media (max-width: 575px) {
  .jumbotron{
    margin-top: 4em;
  }
  .midboss-castle {
    width: auto;
    max-height: 100px;
  }
  footer {
  text-align: center;
  }
  footer .social-links {
  text-align: center;
  }
}

/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup input.email { width: 200px;}
#mc_embed_signup .button {font-size: 15px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
  border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #444; box-sizing:border-box;
  height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s; }
#mc_embed_signup label {display:block; font-family: 'BebasNeue'; padding-bottom:0; }

.card {
  background-color: #444;
}

.btn-pink {
  color: #ffffff;
  background-color: #E195BF;
  border-color: #D185AF;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #D185AF;
  border-color: #D185AF;
}

.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  background-image: none;
}

.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #E195BF;
  border-color: #D185AF;
}

.btn-pink .badge {
  color: #E195BF;
  background-color: #ffffff;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

#introvid {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10000;
  background-color: #2f262f;
  overflow:hidden;
}

#eightyeight {
  padding:20px;
}